<!DOCTYPE html>
<html>
    <head>
        <title>C2C Website Project</title>
        <link rel='stylesheet' type='text/css' href='static/css/main_page.css'>
        <script type='text/javscript' src='static/js/home.js'></script>
    </head>
    <body>
        <h1 id="logo">Appliccable Information</h1>
        <p>
        <ul>
        <li class="buttons">
        <button id="workspace-button">Workspace</button> <button>Calculator</button> <button id="search-bar-button">Search Topic</button> <button id="clear">Clear Area</button>
        </li>
        </ul>
        </p>
        <p id="search-line">
        <input id="search-bar" placeholder="Search your topic here"> <button id="search-button" class="buttons">Search</button>
        <p id="search-results">Here's what we found in our data-base for: </p>
        </p>
        <p id="workspace">
        Workspace
        </p>
        <p class="disclamer">Workspace and calculator are still works in progress, and will not work. </p>
        <p class="disclamer"> The Search bar will not return anything. </p>
    </body>
</html>
